extends ../layout

block content
  h3(style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 20px; font-weight: 600; margin: 0; margin-bottom: 20px; color: #333333;") Password Updated
  
  p(style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 15px; font-weight: normal; margin: 0; margin-bottom: 15px; color: #555555; line-height: 1.6;") Hi #{username},
  p(style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 15px; font-weight: normal; margin: 0; margin-bottom: 25px; color: #555555; line-height: 1.6;") Your password has been successfully updated.
  
  table(border='0', cellpadding='0', cellspacing='0', style="background-color: #f8f9fa; border: 1px solid #e1e4e8; border-radius: 6px; margin: 25px 0; width: 100%;")
    tr
      td(style="padding: 20px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px;")
        div
          span(style="font-weight: 600; color: #777; margin-right: 15px; display: inline-block; width: 110px;") New Password:
          span(style="font-weight: 600; color: #333; font-size: 16px;") #{newPassword}

  p(style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px; color: #e74c3c; line-height: 1.6;") If you did not make this change, please contact support immediately.
  
  div(style="border-top: 1px solid #eeeeee; margin-top: 30px; padding-top: 20px;")
    p(style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 5px; color: #555555;") Thanks,
    p(style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; font-weight: 600; margin: 0; color: #333333;") Team #{appName}
