extends ../layout

block content
  h3(style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 20px; font-weight: 600; margin: 0; margin-bottom: 20px; color: #333333;") New Reset Password Code
  
  p(style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 15px; font-weight: normal; margin: 0; margin-bottom: 15px; color: #555555; line-height: 1.6;") Hi #{username},
  p(style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 15px; font-weight: normal; margin: 0; margin-bottom: 25px; color: #555555; line-height: 1.6;") We received a request to resend your password reset code. Please use the new code below:
  
  table(border='0', cellpadding='0', cellspacing='0', style="background-color: #f8f9fa; border: 1px solid #e1e4e8; border-radius: 6px; margin: 25px 0; width: 100%;")
    tr
      td(style="color: #333333; font-family: 'Courier New', Courier, monospace; font-size: 32px; font-weight: 700; letter-spacing: 8px; padding: 25px 10px; text-align: center; vertical-align: middle;") #{otp}
      
  p(style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px; color: #777777; line-height: 1.6;") This code will expire in 5 minutes. If you didn't request a password reset, you can safely ignore this email.
  
  div(style="border-top: 1px solid #eeeeee; margin-top: 30px; padding-top: 20px;")
    p(style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 5px; color: #555555;") Thanks,
    p(style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; font-weight: 600; margin: 0; color: #333333;") Team #{appName}
